<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Nuestros precios - K & V M{% endblock title %}

{% block content %} 
    <h1>Estos son los precios de nuestros servicios y productos</h1>
    <h2>Precios:</h2>

    <div class="precios">
        <h3>Precio producto 1 - Nombre Pendiente</h3>
        <p>Descripción del Precio producto 1...</p>

        <h3>Precio producto 2 - Nombre Pendiente</h3>
        <p>Descripción del Precio producto 2...</p>

        <h3>Precio producto 3 - Nombre Pendiente</h3>
        <p>Descripción del Precio producto 3...</p>

        <h3>Precio servicio 1 - Nombre Pendiente</h3>
        <p>Descripción del Precio servicio 1...</p>

        <h3>Precio servicio 2 - Nombre Pendiente</h3>
        <p>Descripción del Precio servicio 2...</p>

        <h3>Precio servicio 3 - Nombre Pendiente</h3>
        <p>Descripción del Precio servicio 3...</p>

        <!-- Puedes agregar más precios según sea necesario -->

    </div>
{% endblock content %}
