<!-- home.html -->
{% extends 'base.html' %}


{% block title %}Nuestros productos - K & V M{% endblock title %}

{% block content %} 
    <h1>Nuestros productos</h1>
    <h2>A continuación verás nuestros productos</h2>

    <div class="productos">
        <h3>Producto 1 - Nombre Pendiente</h3>
        <p>Descripción del Producto 1...</p>

        <h3>Producto 2 - Nombre Pendiente</h3>
        <p>Descripción del Producto 2...</p>

        <h3>Producto 3 - Nombre Pendiente</h3>
        <p>Descripción del Producto 3...</p>

        <h3>Producto 4 - Nombre Pendiente</h3>
        <p>Descripción del Producto 4...</p>

        <h3>Producto 5 - Nombre Pendiente</h3>
        <p>Descripción del Producto 5...</p>
    </div>
{% endblock content %}
