<!-- home.html -->
{% extends 'base.html' %}


{% block title %}Nuestras soluciones a sus necesidades - K & V M{% endblock title %}

{% block content %} 
    <h1>Solcuones efectivas para sus nsecidades de hoy</h1>
    <h2>Estas son nuestras soluciones para usted.</h2>

    <div class="soluciones">
        <h3>Solución 1 - Nombre Pendiente</h3>
        <p>Descripción de la Solución 1...</p>

        <h3>Solución 2 - Nombre Pendiente</h3>
        <p>Descripción de la Solución 2...</p>

        <h3>Solución 3 - Nombre Pendiente</h3>
        <p>Descripción de la Solución 3...</p>

        <!-- Puedes agregar más soluciones según sea necesario -->

    </div>
{% endblock content %}
