body {
    margin: 0;
    padding: 0;
}

#navbar-logo {
    margin-right: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-left: 15px;
}

a {
    text-decoration: none;
}



.container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    color: #000000;
}

/* Estilos para pantallas grandes (computadoras) */
@media (min-width: 1024px) {
    .container {
        max-width: 960px; /* Ajusta según tus necesidades */
        margin: 0 auto; /* Centra el contenedor */
    }
}

/* Estilos para pantallas medianas (tablets) */
@media (max-width: 1023px) and (min-width: 768px) {
    .container {
        max-width: 768px; /* Ajusta según tus necesidades */
        margin: 0 auto;
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .container {
        max-width: 100%; /* Ocupa el ancho completo */
        margin: 0 auto;
    }
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombre.contacto {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

/* Estilos para pantallas grandes (computadoras) */
@media (min-width: 1024px) {
    .input {
        max-width: 300px; /* Ajusta según tus necesidades */
    }
}

/* Estilos para pantallas medianas (tablets) */
@media (max-width: 1023px) and (min-width: 768px) {
    .input {
        max-width: 200px; /* Ajusta según tus necesidades */
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .input {
        max-width: 100%; /* Ocupa el ancho completo */
    }
}
